# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.complaintBox.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\PROJECTS\CSharp\complaint\complaintBox\complaintBoxx-master\complaintBox\.idea\.idea.complaintBox.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
